/**
 * @fileoverview {{ name }} component.
 */

{{#if typescript}}
import * as React from "react";
{{else}}
import React from "react";
{{/if}}
{{#if proptypes}}
  import PropTypes from "prop-types";
{{/if}}
{{#if typescript}}

{{#if export}}export {{/if}}type {{ name }}Props = {
  //
};
{{/if}}

/**
 * {{ name }} component
 *
 * @return {Component} {{ name }} component
 */
{{#if export }}export {{/if}}const {{ name }}{{#if typescript}}: React.FC<
  {{~#if proptypes~}} {{ name ~}} Props {{~else~}} any {{~/if}}> {{~/if}} = () => {
  return (
    <div>{{name}}</div>
  );
};

{{#if proptypes~}}
/**
 * Prop types for {{ name }} component
 */
{{ name }}.propTypes = {
  //
};
{{#unless export}}

{{/unless}}
{{/if}}
{{#unless export }}
export default {{ name }};
{{/unless}}
